@model SimpleBlog.Data.Models.Post

@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/css/sites/post.css" />
}

<div class="card" id="post-card">
    <div class="card-body">
        @if (Model == null)
        {
            <h4 class="card-title">It's empty bro!</h4>
            <p class="card-text">What you see is an empty card because this post doesn't exist.</p>
            <a href="@Url.Action("Index", "Home")" class="card-link">Back</a>
        }
        else
        {
            <div class="d-flex w-100 justify-content-between">
                <h4 class="card-title">@Model.Title</h4>
                <small class="text-muted">@Model.CreatedAt.ToShortDateString()</small>
            </div>
            <hr />
            <p class="card-text">@Model.Content</p>
            <hr />
            <div class="d-flex w-100 justify-content-between">
                <a href="@Url.Action("Index", "Home")" class="card-link">Back</a>
                <small class="text-muted">Tags: @Model.Tags.Replace(';', ' ')</small>
            </div>
        }
    </div>
</div>

<div class="card" id="comments-card">
    <div class="card-body">
        <h4 class="card-title">Comments</h4>
        <hr />

        @if (Model.Comments == null || !Model.Comments.Any())
        {
        <p class="card-text">This post has no comments yet.</p>
        }
        else
        {
            <div class="list-group">
                @foreach (var comment in Model.Comments)
                {
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@comment.User.Login</h5>
                            <small class="text-muted">@comment.CreatedAt.ToShortDateString()</small>
                        </div>
                        <p class="mb-1">@comment.Content</p>
                    </a>
                }
            </div>
        }
    </div>
</div>