@model IEnumerable<SimpleBlog.Data.Models.Post>
@{
    ViewData["Title"] = "SearchPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/css/sites/searchPost.css" />
}

@if (ViewBag.ShowMessage == true)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model != null && Model.Any())
{
    foreach (var post in Model.OrderByDescending(x => x.CreatedAt))
    {
        <div class="card">
            <div class="card-body">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="card-title">@post.Title</h4>
                    <small class="text-muted">@post.CreatedAt.ToShortDateString()</small>
                </div>
                <p class="card-text">@post.Description</p>
                <hr />
                <div class="d-flex w-100 justify-content-between">
                    <a href="@Url.Action("post", "Home", new { id = post.Id.ToString()})" class="card-link">More</a>
                    <small class="text-muted">Tags: @post.Tags.Replace(';', ' ')</small>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-body">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="card-title">Ups..</h4>
            </div>
            <p class="card-text">There is no post that meets your criteria.</p>
        </div>
    </div>
}